.cash-section {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: white;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  .inner-cash-section {
    width: 100%;
    height: 100%;
    position: relative;
    @include flex(column);
    .cash-sec-header {
      @include header;
      i {
        font-size: 21px;
      }
      h4 {
        font-size: 17px;
      }
    }
    .cash-sec-main {
      width: 100%;
      height: 80%;
      overflow: hidden;
      overflow-y: scroll;
      padding-bottom: 20px;
      padding-top: 11px;
      .cash-sec-inner-main {
        @include flex(column);
        align-items: center;
        gap: 0.7em;
        .cash-sec-inner-main1 {
          width: 100%;
          @include flex(row);
          justify-content: space-around;
          div {
            @include flex(row);
            align-items: center;
            width: 29%;
            border: 1px solid $lightBorder;
            padding: 6px;
            border-radius: 4px;
            position: relative;
            gap: 0.3em;
            i {
              font-size: 24px;
            }
            .checked {
              font-size: 10px;
              display: none;
            }
          }
          .active {
            border: 1px solid $active;
            color: $active;
            .checked {
              display: block;
              position: absolute;
              right: 7%;
            }
          }
        }
        .cash-sec-inner-main2 {
          @include forInput;
          align-items: center;
          padding: 0;
          padding-top: 15px;
          gap: 1em;
          label {
            width: 95%;
            .input-type-div {
              @include inputTypeDiv;
            }
            @include inputTypeActive;
            .active ~ span {
              transform: translateY(-31px);
            }
            input {
              border-radius: 7px;
              padding: 14px;
              padding-left: 27px;
              &:focus {
                border-color: $active;
              }
              &:focus ~ span {
                color: $active;
                transform: translateY(-30px);
              }
              &:valid ~ span {
                transform: translateY(-30px);
              }
            }
            span {
              top: 50%;
              transform: translateY(-50%);
              left: 30px;
            }
            i {
              position: absolute;
              display: block;
              top: 50%;
              left: 6px;
              transform: translateY(-50%);
              color: $darkSilver;
              font-size: 21px;
            }
          }
        }
      }
    }
    .cash-sec-footer {
      width: 100%;
      @include flex(column);
      gap: 0.5em;
      align-items: center;
      padding-top: 7px;
      .cash-sec-btn {
        @include bottomBtn;
      }
      .disabled {
        opacity: 0.6;
      }
      .cash-sec-calculator-wrapper {
        @include formatCalc;
        display: none;
      }
      .active {
        @include flex(row);
        align-items: center;
      }
    }
  }
}

.active {
  transform: translateX(0%);
}
