.edit-section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(110%);
  transition: all 0.5s ease-in-out;
  .inner-edit-section {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    @include flex(column);
    .edit-section-header {
      @include header;
      h3 {
        font-size: 17px;
      }
      i {
        font-size: 20px;
      }
    }
    .edit-section-main {
      width: 100%;
      height: 100%;
      padding-bottom: 40px;
      padding-top: 20px;
      overflow: hidden;
      overflow-y: scroll;
      .edit-section-inner-main {
        @include flex(column);
        gap: 0.3em;
        width: 100%;
        align-items: center;
        div {
          width: 95%;
          padding: 7px;
          position: relative;
          input {
            width: 100%;
            padding: 10px;
            border-radius: 7px;
            padding: 17px;
            outline: none;
            border: 1px solid $lightBorder;
            font-size: 16px;
            &:focus {
              border: 2px solid $active;
            }
            &:focus ~ span {
              font-size: 14px;
              transform: translateY(-38px);
              color: $active;
            }
            &:valid ~ span {
              transform: translateY(-38px);
              font-size: 14px;
            }
          }
          span {
            @include inputSpan;
            top: 50%;
            left: 8%;
            transform: translateY(-50%);
            font-size: 17px;
          }
        }
        button {
          width: 90%;
          border-radius: 40px;
          padding: 15px;
          border: none;
          background: $txtColor;
          color: white;
          margin-top: 20px;
        }
        & > :nth-child(1) {
          //   height: 10%;
          border: 1px solid white;
          @include flex(row);
          gap: 0.5em;
          .edit-logo-wrapper {
            width: 19%;
            height: 100%;
            div {
              width: 45px;
              height: 45px;
              border-radius: 50%;
              background: blanchedalmond;
            }
          }
          div {
            position: relative;
            width: 80%;
            @include flex(row);
            align-items: center;
            input {
              width: 100%;
              height: 86%;
              &:focus ~ span {
                transform: translateY(-35px);
              }
              &:valid ~ span {
                transform: translateY(-35px);
              }
            }
            span {
              @include inputSpan;
              top: 50%;
              left: 8%;
              transform: translateY(-50%);
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}
