.home {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: white;
  transform: translateY(100%);
  transition: all 0.4s ease-out;
  .home-wrapper {
    width: 100%;
    height: 100%;
    @include flex(column);
    position: relative;
    .home-header {
      width: 100%;
      // height: 9%;
      padding: 12px;
      background: $pinkType;
      @include flex(row);
      align-items: center;
      .first-home-header {
        width: 85%;
        height: 100%;
        @include flex(row);
        align-items: center;
        padding-left: 2%;
        .burger {
          div {
            width: 17px;
            height: 2px;
            background: $active;
            margin: 3px;
          }
          .line2 {
            width: 13px;
          }
        }
        p {
          padding-left: 5%;
          font-size: 300;
          font-family: $roboto;
        }
      }
      .second-home-header {
        width: 15%;
        height: 100%;
        @include flex(row);
        align-items: center;
        gap: 0.02em;
        font-size: 17px;
        color: $most;
        i {
          font-size: 17px;
        }
      }
    }
    .home-main {
      width: 100%;
      height: 82%;
      position: relative;

      .home-main-first {
        width: 100%;
        height: 25%;
        background: rgba($pinkType, $alpha: 0.6);
        border-bottom-left-radius: 17px;
        border-bottom-right-radius: 17px;
        @include flex(column);
        gap: 0.5em;
        align-items: center;
        padding: 15px 0px 10px 0px;
        .home-main-first-in-first {
          width: 80%;
          height: 50%;
          @include flex(row);
          align-items: center;
          justify-content: space-between;
          div {
            text-align: center;
            width: 50%;
            h4 {
              line-height: 16px;
              font-size: 19px;
            }
            p {
              font-size: 12px;
            }
          }
          .total-debt-for-customer-div {
            h4 {
              color: $most;
            }
          }
        }
        .home-main-first-in-second {
          height: 31px;
          border: 1px solid rgb(255, 208, 216);
          background: white;
          @include flex(row);
          gap: 0.7em;
          align-items: center;
          font-size: 12px;
          padding-left: 7px;
          padding-right: 7px;
          border-radius: 7px;
          box-shadow: 0px 1px 4px $pinkType;
        }
      }

      .home-main-second {
        width: 100%;
        height: 17%;
        @include flex(column);
        gap: 0.6em;
        .home-main-second-first {
          width: 100%;
          height: 50%;
          @include flex(row);
          margin-top: 8px;
          justify-content: space-evenly;
          div {
            @include flex(row);
            align-items: center;
            i {
              font-size: 19px;
              color: $darkSilver;
            }
          }
          .home-main-second-first1 {
            position: relative;
            width: 67%;
            .search {
              width: 100%;
              padding: 7px;
              border: none;
              outline: none;
              background: $silverType;
              border-radius: 14px;
              caret-color: $active;
              padding-left: 37px;
            }
            i {
              position: absolute;
              display: block;
              top: 30%;
              left: 5.5%;
            }
          }
        }
        .home-main-second-second {
          width: 100%;
          height: 50%;
          @include flex(row);
          align-items: center;
          justify-content: space-evenly;
          div {
            @include flex(row);
            p {
              line-height: 14px;
              font-size: 12px;
              color: $darkSilver;
            }
          }
          i {
            font-size: 19px;
            color: $active;
          }
          .home-main-second-second1 {
            @include flex(column);
            width: 25%;
          }
          .home-main-second-second2 {
            background-color: $pinkType;
            padding: 4px;
            border-radius: 50%;
            font-size: 14px;
          }
          .home-main-second-second3 {
            align-items: center;
            padding: 7px 7px 7px 7px;
            border-radius: 14px;
            background-color: $pinkType;
            p {
              color: $active;
            }
            i {
              font-size: 15px;
            }
          }
          .home-main-second-second4 {
            p {
              & > :nth-child(1) {
                color: $active;
              }
            }
          }
        }
      }

      .home-main-third {
        width: 100%;
        height: 58%;
        padding-bottom: 25%;
        overflow: hidden;
        overflow-y: scroll;
        .home-list-wrapper {
          @include flex(column);
          align-items: center;
          .list {
            width: 85%;
            padding: 12px;
            padding-left: 0px;
            @include flex(row);
            align-items: center;
            justify-content: space-between;
            border-bottom: dashed;
            border-width: 1.5px;
            border-color: $darkSilver;
            .list-first {
              width: 19%;
              @include flex(row);
              align-items: center;
              gap: 1em;
              .list-logo {
                width: 38px;
                height: 38px;
                border-radius: 50%;
                background: orange;
                @include flex(row);
                align-items: center;
                justify-content: center;
                color: white;
                font-weight: 800;
              }
            }
            .list-second {
              width: 62%;
              height: 100%;
              @include flex(column);
            }
            .list-third {
              width: 19%;
              height: 100%;
              @include flex(row);
              align-items: center;
              gap: 1em;
              p {
                color: $most;
                font-size: 14px;
              }
              i {
                color: $darkSilver;
                font-size: 15px;
              }
            }
          }
        }
      }

      .home-when-empty {
        width: 85%;
        height: 240px;
        background: white;
        position: absolute;
        display: block;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 3px 7px rgba(197, 178, 3, 0.603);
        border-radius: 7px;
        display: none; //when empty------------------------------------------------------------------
        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 20px;
          height: 20px;
          bottom: -4%;
          right: 15%;
          background: white;
          transform: rotate(-45deg);
          border-bottom: 1px solid rgba(197, 178, 3, 0.603);
          border-left: 1px solid rgba(197, 178, 3, 0.603);
        }
        .home-when-empty-first {
          width: 100%;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          padding: 10px;
          background: $orangeType;
          color: white;
          @include whenEmpty;
          padding-bottom: 10px;
          &::after {
            content: "";
            position: absolute;
            display: block;
            width: 17px;
            height: 17px;
            background: $orangeType;
            bottom: -17%;
            left: 10%;
            transform: rotate(-45deg);
          }
        }
        .home-when-empty-second {
          padding: 10px;
          padding-top: 24px;
          @include whenEmpty;
          font-size: 14.7px;
          padding-right: 0px;
          padding-bottom: 18px;
          i {
            color: $orangeType;
            font-size: 23px;
          }
        }
        .home-when-empty-third {
          padding: 10px;
          @include whenEmpty;
          font-size: 14.7px;
          padding-right: 0px;
          padding-bottom: 20px;
          i {
            color: $orangeType;
            font-size: 23px;
          }
        }
        .home-when-empty-fourth {
          @include flex(row);
          align-items: center;
          justify-content: center;
          padding-bottom: 15px;
          gap: 0.3em;
          span {
            text-decoration: underline;
          }
          i {
            font-size: 23px;
            border-radius: 4px;
          }
        }
      }

      .home-add-customer {
        width: 160px;
        height: 45px;
        position: fixed;
        bottom: 12%;
        right: 5%;
        @include flex(row);
        align-items: center;
        gap: 0.2em;
        padding: 7px;
        background: $most;
        color: white;
        border-radius: 25px;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        i {
          font-size: 20px;
        }
      }
    }
    .home-footer {
      width: 100%;
      // height: 9%;
      background-color: $most;
      @include flex(row);
      align-items: center;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      color: white;
      div {
        padding-top: 4px;
        width: 33%;
        height: 100%;
        @include flex(column);
        align-items: center;
      }
      & > :nth-child(1) {
        background: $active;
        border-top-left-radius: 20px;
      }
      & > :nth-child(3) {
        border-top-right-radius: 20px;
      }
    }
  }
}

.active {
  transform: translateY(0%);
}
