@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin topTxt {
  width: 67%;
  line-height: 18px;
  font-size: 14px;
  transform: translateY(-10px);
}

@mixin header {
  width: 100%;
  padding: 12px;
  // height: 9%;
  @include flex(row);
  align-items: center;
  background: $pinkType;
  gap: 0.6em;
  padding-left: 7px;
  box-shadow: 10px -3px 10px silver;
}

@mixin forInput {
  width: 100%;
  padding-top: 10px;
  @include flex(column);
  padding-right: 4%;
  gap: 0.6em;
  label {
    position: relative;
    input {
      width: 100%;
      padding: 10px;
      padding-left: 17px;
      border-radius: 40px;
      outline: none;
      border: 1.5px solid silver;
      &:focus {
        border: 2px solid $p;
      }
      &:focus ~ span {
        color: red;
        font-size: 11px;
        transform: translateY(-15px);
      }
      &:valid ~ span {
        font-size: 11px;
        transform: translateY(-15px);
      }
    }
    span {
      @include inputSpan;
    }
  }
}

@mixin inputSpan {
  position: absolute;
  display: block;
  color: $lightBorder;
  top: 18%;
  left: 8%;
  pointer-events: none;
  font-size: 14px;
  background: white;
  transition: all 0.25s ease;
}

@mixin btn {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  background-color: $p;
  color: white;
  border: none;
}

@mixin styleList {
  list-style: none;
  padding-left: 20px;
  padding-top: 15px;
  li {
    line-height: 23px;
    &::before {
      content: "\2022";
      color: $active;
      font-weight: bold;
      display: inline-block;
      width: 0.7em;
      margin-left: -1em;
    }
  }
}

@mixin whenEmpty {
  @include flex(row);
  align-items: center;
  gap: 0.6em;
  position: relative;
  line-height: 17px;
  font-size: 15px;
}

@mixin formatCalc {
  width: 100%;
  height: 150px;
  display: none;
  div {
    width: 25%;
    height: 100%;
    @include flex(column);
    align-items: center;
    border-right: 1px solid rgb(223, 223, 223);
    font-size: 29px;
    button {
      width: 100%;
      height: 25%;
      border: none;
      border-top: 0.5px solid $lightBorder;
      outline: none;
      font-size: 17px;
      background: transparent;
    }
    & > :nth-child(1) {
      border-top: none;
    }
  }
  & > :nth-child(4) {
    button {
      height: 20%;
    }
    & > :nth-child(3) {
      height: 40%;
    }
  }
}

@mixin bottomBtn {
  width: 90%;
  padding: 14px;
  border-radius: 40px;
  border: none;
  background-color: $most;
  color: white;
}

@mixin inputTypeDiv {
  border: 1px solid $lightBorder;
  width: 100%;
  height: 45px;
  border-radius: 7px;
  @include flex(row);
  align-items: center;
  padding-left: 10%;
  font-family: $roboto;
  font-weight: 400;
  font-size: 15px;
  .previousOperand {
    // background: green;
    margin-right: 4px;
    pointer-events: none;
  }
  .currentOperand {
    pointer-events: none;
    // background: orange;
  }
  .blinking-cursor {
    width: 0.4px;
    height: 17px;
    background: $active;
    pointer-events: none;
    opacity: 0;
  }
}

@mixin inputTypeActive {
  .active {
    border: 2px solid $active;
    .blinking-cursor {
      opacity: 1;
      animation: cursor 1s linear infinite alternate;
    }
  }
  .active ~ span {
    font-size: 12px;
    transform: translateY(-17px);
    color: $active;
  }

  .span-active {
    font-size: 12px;
    transform: translateY(-17px);
    color: $active;
  }
}
