@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin topTxt {
  width: 67%;
  line-height: 18px;
  font-size: 14px;
  transform: translateY(-10px);
}

@mixin forInput {
  width: 100%;
  padding-top: 10px;
  @include flex(column);
  padding-right: 4%;
  gap: 0.6em;
  label {
    position: relative;
    input {
      width: 100%;
      padding: 10px;
      padding-left: 17px;
      border-radius: 40px;
      outline: none;
      border: 1.5px solid silver;
      &:focus {
        border-color: $p;
      }
      &:focus ~ span {
        color: red;
        font-size: 11px;
        transform: translateY(-15px);
      }
      &:valid ~ span {
        font-size: 11px;
        transform: translateY(-15px);
      }
    }
    span {
      position: absolute;
      display: block;
      color: silver;
      top: 18%;
      left: 8%;
      pointer-events: none;
      font-size: 14px;
      background: white;
      transition: all 0.25s ease;
    }
  }
}

@mixin btn {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  background-color: $p;
  color: white;
  border: none;
}

@mixin styleList {
  list-style: none;
  padding-left: 20px;
  padding-top: 15px;
  li {
    line-height: 23px;
    &::before {
      content: "\2022";
      color: $active;
      font-weight: bold;
      display: inline-block;
      width: 0.7em;
      margin-left: -1em;
    }
  }
}

@mixin whenEmpty {
  @include flex(row);
  align-items: center;
  gap: 0.6em;
  position: relative;
  line-height: 17px;
  font-size: 15px;
}
