.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.loader-wrapper .loader {
  position: relative;
  width: 100%;
  height: 100%;
}

.loader-wrapper .loader img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper .welcome {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.wrapper .welcome .welcome-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 4%;
  padding-top: 10%;
}

.wrapper .welcome .welcome-wrapper .welcome-first img {
  width: 80px;
  height: 80px;
}

.wrapper .welcome .welcome-wrapper .welcome-second {
  width: 67%;
  line-height: 18px;
  font-size: 14px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.wrapper .welcome .welcome-wrapper .welcome-third {
  width: 100%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 4%;
  gap: 0.6em;
}

.wrapper .welcome .welcome-wrapper .welcome-third label {
  position: relative;
}

.wrapper .welcome .welcome-wrapper .welcome-third label input {
  width: 100%;
  padding: 10px;
  padding-left: 17px;
  border-radius: 40px;
  outline: none;
  border: 1.5px solid silver;
}

.wrapper .welcome .welcome-wrapper .welcome-third label input:focus {
  border: 2px solid #f03030;
}

.wrapper .welcome .welcome-wrapper .welcome-third label input:focus ~ span {
  color: red;
  font-size: 11px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.wrapper .welcome .welcome-wrapper .welcome-third label input:valid ~ span {
  font-size: 11px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.wrapper .welcome .welcome-wrapper .welcome-third label span {
  position: absolute;
  display: block;
  color: #b1b1b1;
  top: 18%;
  left: 8%;
  pointer-events: none;
  font-size: 14px;
  background: white;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.wrapper .welcome .welcome-wrapper .welcome-third .welcome-btn {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  background-color: #f03030;
  color: white;
  border: none;
}

.wrapper .welcome .welcome-wrapper .welcome-third .disabled {
  opacity: 0.6;
}

.wrapper .welcome .welcome-wrapper .welcome-fourth {
  text-align: center;
  font-size: 12px;
  padding-top: 20px;
  padding-right: 4%;
  line-height: 17px;
}

.wrapper .welcome .welcome-wrapper .welcome-fourth a {
  color: #f03030;
}

.wrapper .welcome .welcome-wrapper .welcome-fourth .welcome-footer {
  color: #f03030;
  padding-top: 20px;
}

.set-code {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: white;
}

.set-code .set-code-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 4%;
  padding-top: 10%;
}

.set-code .set-code-wrapper .set-code-first img {
  width: 80px;
  height: 80px;
}

.set-code .set-code-wrapper .set-code-second {
  width: 67%;
  line-height: 18px;
  font-size: 14px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.set-code .set-code-wrapper .set-code-third {
  width: 100%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 4%;
  gap: 0.6em;
  padding-top: 20px;
}

.set-code .set-code-wrapper .set-code-third label {
  position: relative;
}

.set-code .set-code-wrapper .set-code-third label input {
  width: 100%;
  padding: 10px;
  padding-left: 17px;
  border-radius: 40px;
  outline: none;
  border: 1.5px solid silver;
}

.set-code .set-code-wrapper .set-code-third label input:focus {
  border: 2px solid #f03030;
}

.set-code .set-code-wrapper .set-code-third label input:focus ~ span {
  color: red;
  font-size: 11px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.set-code .set-code-wrapper .set-code-third label input:valid ~ span {
  font-size: 11px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.set-code .set-code-wrapper .set-code-third label span {
  position: absolute;
  display: block;
  color: #b1b1b1;
  top: 18%;
  left: 8%;
  pointer-events: none;
  font-size: 14px;
  background: white;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.set-code .set-code-wrapper .set-code-third i {
  position: absolute;
  top: 6%;
  right: 4%;
  margin-top: 8px;
  color: #3b3b3b;
  font-size: 20px;
}

.set-code .set-code-wrapper .set-code-third .set-code-btn {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  background-color: #f03030;
  color: white;
  border: none;
}

.set-code .set-code-wrapper .set-code-third .disabled {
  opacity: 0.6;
}

.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.home {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.home .home-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.home .home-wrapper .home-header {
  width: 100%;
  padding: 12px;
  background: #fff0f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-wrapper .home-header .first-home-header {
  width: 85%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2%;
}

.home .home-wrapper .home-header .first-home-header .burger div {
  width: 17px;
  height: 2px;
  background: #8b1014;
  margin: 3px;
}

.home .home-wrapper .home-header .first-home-header .burger .line2 {
  width: 13px;
}

.home .home-wrapper .home-header .first-home-header p {
  padding-left: 5%;
  font-size: 300;
  font-family: "Roboto", sans-serif;
}

.home .home-wrapper .home-header .second-home-header {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.02em;
  font-size: 17px;
  color: #c4161c;
}

.home .home-wrapper .home-header .second-home-header i {
  font-size: 17px;
}

.home .home-wrapper .home-main {
  width: 100%;
  position: relative;
}

.home .home-wrapper .home-main .home-main-first {
  width: 100%;
  padding: 20px;
  background: rgba(255, 240, 241, 0.6);
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px 10px 0px;
}

.home .home-wrapper .home-main .home-main-first .home-main-first-in-first {
  width: 80%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .home-wrapper .home-main .home-main-first .home-main-first-in-first div {
  text-align: center;
  width: 50%;
}

.home .home-wrapper .home-main .home-main-first .home-main-first-in-first div h4 {
  line-height: 16px;
  font-size: 19px;
}

.home .home-wrapper .home-main .home-main-first .home-main-first-in-first div p {
  font-size: 12px;
}

.home .home-wrapper .home-main .home-main-first .home-main-first-in-first .total-debt-for-customer-div h4 {
  color: #c4161c;
}

.home .home-wrapper .home-main .home-main-first .home-main-first-in-second {
  height: 31px;
  border: 1px solid #ffd0d8;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.7em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 4px #fff0f1;
          box-shadow: 0px 1px 4px #fff0f1;
}

.home .home-wrapper .home-main .home-main-second {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6em;
  padding-bottom: 10px;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-first {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 8px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-first div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-first div i {
  font-size: 19px;
  color: #868686;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-first .home-main-second-first1 {
  position: relative;
  width: 67%;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-first .home-main-second-first1 .search {
  width: 100%;
  padding: 7px;
  border: none;
  outline: none;
  background: #f4f3f3;
  border-radius: 14px;
  caret-color: #8b1014;
  padding-left: 37px;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-first .home-main-second-first1 i {
  position: absolute;
  display: block;
  top: 30%;
  left: 5.5%;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-second {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-second div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-second div p {
  line-height: 14px;
  font-size: 12px;
  color: #868686;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-second i {
  font-size: 19px;
  color: #8b1014;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-second .home-main-second-second1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-second .home-main-second-second2 {
  background-color: #fff0f1;
  padding: 4px;
  border-radius: 50%;
  font-size: 14px;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-second .home-main-second-second3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 7px 7px 7px;
  border-radius: 14px;
  background-color: #fff0f1;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-second .home-main-second-second3 p {
  color: #8b1014;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-second .home-main-second-second3 i {
  font-size: 15px;
}

.home .home-wrapper .home-main .home-main-second .home-main-second-second .home-main-second-second4 p > :nth-child(1) {
  color: #8b1014;
}

.home .home-wrapper .home-main .home-main-third {
  width: 100%;
  height: 58%;
  padding-bottom: 25%;
  overflow: hidden;
  overflow-y: scroll;
}

.home .home-wrapper .home-main .home-main-third .home-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-wrapper .home-main .home-main-third .home-list-wrapper .list {
  width: 85%;
  padding: 12px;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: dashed;
  border-width: 1.5px;
  border-color: #868686;
}

.home .home-wrapper .home-main .home-main-third .home-list-wrapper .list .list-first {
  width: 19%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.home .home-wrapper .home-main .home-main-third .home-list-wrapper .list .list-first .list-logo {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: 800;
}

.home .home-wrapper .home-main .home-main-third .home-list-wrapper .list .list-second {
  width: 62%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .home-wrapper .home-main .home-main-third .home-list-wrapper .list .list-third {
  width: 19%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.home .home-wrapper .home-main .home-main-third .home-list-wrapper .list .list-third p {
  color: #c4161c;
  font-size: 14px;
}

.home .home-wrapper .home-main .home-main-third .home-list-wrapper .list .list-third i {
  color: #868686;
  font-size: 15px;
}

.home .home-wrapper .home-main .home-when-empty {
  width: 85%;
  height: 240px;
  background: white;
  position: absolute;
  display: block;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 3px 7px rgba(197, 178, 3, 0.603);
          box-shadow: 0px 3px 7px rgba(197, 178, 3, 0.603);
  border-radius: 7px;
  display: none;
}

.home .home-wrapper .home-main .home-when-empty::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  bottom: -4%;
  right: 15%;
  background: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-bottom: 1px solid rgba(197, 178, 3, 0.603);
  border-left: 1px solid rgba(197, 178, 3, 0.603);
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-first {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 10px;
  background: #ff8800;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6em;
  position: relative;
  line-height: 17px;
  font-size: 15px;
  padding-bottom: 10px;
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-first::after {
  content: "";
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  background: #ff8800;
  bottom: -17%;
  left: 10%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-second {
  padding: 10px;
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6em;
  position: relative;
  line-height: 17px;
  font-size: 15px;
  font-size: 14.7px;
  padding-right: 0px;
  padding-bottom: 18px;
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-second i {
  color: #ff8800;
  font-size: 23px;
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-third {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6em;
  position: relative;
  line-height: 17px;
  font-size: 15px;
  font-size: 14.7px;
  padding-right: 0px;
  padding-bottom: 20px;
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-third i {
  color: #ff8800;
  font-size: 23px;
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 15px;
  gap: 0.3em;
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-fourth span {
  text-decoration: underline;
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-fourth i {
  font-size: 23px;
  border-radius: 4px;
}

.home .home-wrapper .home-main .home-add-customer {
  width: 160px;
  height: 45px;
  position: fixed;
  bottom: 12%;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2em;
  padding: 7px;
  background: #c4161c;
  color: white;
  border-radius: 25px;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.home .home-wrapper .home-main .home-add-customer i {
  font-size: 20px;
}

.home .home-wrapper .home-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #c4161c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
}

.home .home-wrapper .home-footer div {
  padding-top: 4px;
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-wrapper .home-footer > :nth-child(1) {
  background: #8b1014;
  border-top-left-radius: 20px;
}

.home .home-wrapper .home-footer > :nth-child(3) {
  border-top-right-radius: 20px;
}

.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.modal .nav {
  width: 70%;
  height: 100%;
  background: #fcfcfc;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0px 15px 10px;
}

.modal .nav .nav-main {
  width: 100%;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll;
}

.modal .nav .nav-main .nav-inner-main {
  overflow-y: scroll;
}

.modal .nav .nav-main .nav-inner-main .nav-inner-main-first {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .nav .nav-main .nav-inner-main .nav-inner-main-first .nav-first-logo-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}

.modal .nav .nav-main .nav-inner-main .nav-inner-main-first .nav-first-logo-wrap .logo-when-no-img {
  text-transform: uppercase;
}

.modal .nav .nav-main .nav-inner-main .nav-inner-main-first .nav-first-information {
  padding-top: 7px;
}

.modal .nav .nav-main .nav-inner-main .nav-inner-main-first .nav-first-information h3 {
  line-height: 14px;
  font-size: 18px;
}

.modal .nav .nav-main .nav-inner-main .nav-inner-main-first .nav-first-information p {
  font-size: 14px;
  color: #999999;
}

.modal .nav .nav-main .nav-inner-main .nav-inner-main-first i {
  margin-left: 10px;
  font-size: 20px;
}

.modal .nav .nav-main .nav-inner-main .nav-inner-main-second {
  padding-left: 9px;
  width: 70%;
  padding-bottom: 10px;
}

.modal .nav .nav-main .nav-inner-main .nav-inner-main-second ul {
  list-style-type: none;
}

.modal .nav .nav-main .nav-inner-main .nav-inner-main-second ul li {
  margin: 5px;
  padding: 4px;
  border-bottom: 1px solid silver;
  font-size: 14px;
}

.modal .nav .nav-main .nav-inner-main .nav-inner-main-second p {
  font-size: 12px;
  color: #c4161c;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.modal .nav .nav-footer {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .nav .nav-footer .nav-footer1 {
  width: 25%;
}

.modal .nav .nav-footer .nav-footer1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal .nav .nav-footer .nav-footer2 {
  width: 75%;
  height: 100%;
  text-align: right;
  padding-top: 14px;
  font-size: 12px;
  padding-right: 7px;
  color: #a0a0a0;
}

.active {
  visibility: visible;
}

.active .nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.add-customer-supplier {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.add-customer-supplier .add-customer-supplier-inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-header {
  width: 100%;
  height: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff0f1;
  gap: 0.6em;
  padding-left: 7px;
  -webkit-box-shadow: 10px -3px 10px silver;
          box-shadow: 10px -3px 10px silver;
  z-index: 1;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-header i {
  font-size: 22px;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-main {
  width: 100%;
  height: 91%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.7em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-main .add-customer-supplier-main-first {
  width: 100%;
  height: 8%;
  background: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-main .add-customer-supplier-main-first div {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-main .add-customer-supplier-main-first .active {
  color: #8b1014;
  border-bottom: 3px solid #8b1014;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-main .add-from-phonebook {
  width: 90%;
  padding: 10px;
  border: 1px solid #b1b1b1;
  outline: none;
  background: none;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-main .add-from-phonebook i {
  font-size: 18px;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-main label {
  width: 90%;
  position: relative;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-main label input {
  width: 100%;
  padding: 10px;
  padding-left: 32px;
  border: 1px solid #b1b1b1;
  border-radius: 7px;
  outline: none;
  caret-color: #8b1014;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-main label input:focus {
  border: 2px solid #8b1014;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-main label input:focus ~ span {
  font-size: 12px;
  -webkit-transform: translateY(-17px);
          transform: translateY(-17px);
  color: #8b1014;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-main label input:valid ~ span {
  font-size: 12px;
  -webkit-transform: translateY(-17px);
          transform: translateY(-17px);
  color: #8b1014;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-main label span {
  position: absolute;
  display: block;
  color: #b1b1b1;
  top: 18%;
  left: 8%;
  pointer-events: none;
  font-size: 14px;
  background: white;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  top: 21%;
  left: 12%;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-main label i {
  position: absolute;
  display: block;
  top: 23%;
  left: 3%;
  font-size: 21px;
  color: #4d4d4d;
}

.add-customer-supplier .add-customer-supplier-inner .add-customer-supplier-main .add-customer-supplier-btn {
  width: 90%;
  padding: 10px;
  position: fixed;
  bottom: 3%;
  border-radius: 40px;
  border: none;
  background-color: #c4161c;
  color: white;
}

.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.help {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.help .help-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help .help-wrapper .help-header {
  width: 100%;
  height: 9%;
  background: #fff0f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6em;
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
}

.help .help-wrapper .help-header i {
  font-size: 20px;
}

.help .help-wrapper .help-main {
  width: 100%;
  height: 91%;
  overflow-y: scroll;
}

.help .help-wrapper .help-main .help-inner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow-x: hidden;
}

.help .help-wrapper .help-main .help-inner-main .help-video {
  width: 90%;
  height: 180px;
  overflow: hidden;
  background: #f8dedf8c;
  border-radius: 7px;
  position: relative;
}

.help .help-wrapper .help-main .help-inner-main .help-video a {
  text-decoration: none;
}

.help .help-wrapper .help-main .help-inner-main .help-video a .help-video-txt {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  color: #bf1313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help .help-wrapper .help-main .help-inner-main .help-video a .help-video-txt h4 {
  font-size: 15px;
}

.help .help-wrapper .help-main .help-inner-main .help-video a .help-video-txt p {
  font-size: 12px;
}

.help .help-wrapper .help-main .help-inner-main .help-video a .help-video-txt .help-video-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
  z-index: 1;
}

.help .help-wrapper .help-main .help-inner-main .help-video a .help-video-txt .help-video-icon img {
  width: 45%;
  height: 45%;
  position: relative;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  left: 0%;
  opacity: 1;
}

.help .help-wrapper .help-main .help-inner-main .help-video a img {
  width: 80%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -33px);
          transform: translate(-50%, -33px);
  left: 50%;
  opacity: 0.7;
}

.help .help-wrapper .help-main .help-inner-main .live-help {
  width: 90%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #f4f3f3;
  border-radius: 7px;
}

.help .help-wrapper .help-main .help-inner-main .live-help .live-help-txt {
  width: 50%;
  height: 100%;
  padding: 10px;
  padding-left: 15px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.help .help-wrapper .help-main .help-inner-main .live-help .live-help-txt .live-txt {
  font-size: 14px;
  line-height: 19px;
}

.help .help-wrapper .help-main .help-inner-main .live-help .live-help-txt button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 14px;
  gap: 0.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  border: none;
  background: #076ece;
  padding: 4px 7px 4px 7px;
  color: white;
  border-radius: 4px;
}

.help .help-wrapper .help-main .help-inner-main .live-help .live-help-txt button img {
  width: 15px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.help .help-wrapper .help-main .help-inner-main .live-help .live-help-img-wrapper {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.help .help-wrapper .help-main .help-inner-main .live-help .live-help-img-wrapper img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.help .help-wrapper .help-main .help-inner-main .help-description {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6em;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-description-heading h4 {
  color: #a5a5a5;
  font-size: 15px;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-question-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2px;
  border-bottom: 1px solid silver;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-question-wrapper .help-question-heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-question-wrapper .help-question-answer {
  display: none;
  padding-bottom: 10px;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-question-wrapper .help-question-answer p {
  line-height: 23px;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-question-wrapper .help-question-answer ul {
  list-style: none;
  padding-left: 20px;
  padding-top: 15px;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-question-wrapper .help-question-answer ul li {
  line-height: 23px;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-question-wrapper .help-question-answer ul li::before {
  content: "\2022";
  color: #8b1014;
  font-weight: bold;
  display: inline-block;
  width: 0.7em;
  margin-left: -1em;
}

.help .help-wrapper .help-main .help-inner-main .help-description .active .help-question-heading {
  color: #8b1014;
}

.help .help-wrapper .help-main .help-inner-main .help-description .active .help-question-answer {
  display: block;
  -webkit-animation: fadeIn 0.4s ease 1;
          animation: fadeIn 0.4s ease 1;
}

.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  font-family: "Hind Siliguri", sans-serif;
}
/*# sourceMappingURL=style.css.map */