@import "color";
@import "font";
@import "mixin";
@import "loader";
@import "welcome";
@import "setCode";
@import "home";
@import "modal";
@import "addCustomerSupplier";
@import "help";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  font-family: $bangla;
  // user-select: none;
}
