.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.loader-wrapper .loader {
  position: relative;
  width: 100%;
  height: 100%;
}

.loader-wrapper .loader img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper .welcome {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.wrapper .welcome .welcome-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 4%;
  padding-top: 10%;
}

.wrapper .welcome .welcome-wrapper .welcome-first img {
  width: 80px;
  height: 80px;
}

.wrapper .welcome .welcome-wrapper .welcome-second {
  width: 67%;
  line-height: 18px;
  font-size: 14px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.wrapper .welcome .welcome-wrapper .welcome-third {
  width: 100%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 4%;
  gap: 0.6em;
}

.wrapper .welcome .welcome-wrapper .welcome-third label {
  position: relative;
}

.wrapper .welcome .welcome-wrapper .welcome-third label input {
  width: 100%;
  padding: 10px;
  padding-left: 17px;
  border-radius: 40px;
  outline: none;
  border: 1.5px solid silver;
}

.wrapper .welcome .welcome-wrapper .welcome-third label input:focus {
  border-color: #f03030;
}

.wrapper .welcome .welcome-wrapper .welcome-third label input:focus ~ span {
  color: red;
  font-size: 11px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.wrapper .welcome .welcome-wrapper .welcome-third label input:valid ~ span {
  font-size: 11px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.wrapper .welcome .welcome-wrapper .welcome-third label span {
  position: absolute;
  display: block;
  color: silver;
  top: 18%;
  left: 8%;
  pointer-events: none;
  font-size: 14px;
  background: white;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.wrapper .welcome .welcome-wrapper .welcome-third .welcome-btn {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  background-color: #f03030;
  color: white;
  border: none;
}

.wrapper .welcome .welcome-wrapper .welcome-third .disabled {
  opacity: 0.6;
}

.wrapper .welcome .welcome-wrapper .welcome-fourth {
  text-align: center;
  font-size: 12px;
  padding-top: 20px;
  padding-right: 4%;
  line-height: 17px;
}

.wrapper .welcome .welcome-wrapper .welcome-fourth a {
  color: #f03030;
}

.wrapper .welcome .welcome-wrapper .welcome-fourth .welcome-footer {
  color: #f03030;
  padding-top: 20px;
}

.set-code {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: white;
}

.set-code .set-code-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 4%;
  padding-top: 10%;
}

.set-code .set-code-wrapper .set-code-first img {
  width: 80px;
  height: 80px;
}

.set-code .set-code-wrapper .set-code-second {
  width: 67%;
  line-height: 18px;
  font-size: 14px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.set-code .set-code-wrapper .set-code-third {
  width: 100%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 4%;
  gap: 0.6em;
  padding-top: 20px;
}

.set-code .set-code-wrapper .set-code-third label {
  position: relative;
}

.set-code .set-code-wrapper .set-code-third label input {
  width: 100%;
  padding: 10px;
  padding-left: 17px;
  border-radius: 40px;
  outline: none;
  border: 1.5px solid silver;
}

.set-code .set-code-wrapper .set-code-third label input:focus {
  border-color: #f03030;
}

.set-code .set-code-wrapper .set-code-third label input:focus ~ span {
  color: red;
  font-size: 11px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.set-code .set-code-wrapper .set-code-third label input:valid ~ span {
  font-size: 11px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.set-code .set-code-wrapper .set-code-third label span {
  position: absolute;
  display: block;
  color: silver;
  top: 18%;
  left: 8%;
  pointer-events: none;
  font-size: 14px;
  background: white;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.set-code .set-code-wrapper .set-code-third i {
  position: absolute;
  top: 6%;
  right: 4%;
  margin-top: 8px;
  color: #3b3b3b;
  font-size: 20px;
}

.set-code .set-code-wrapper .set-code-third .set-code-btn {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  background-color: #f03030;
  color: white;
  border: none;
}

.set-code .set-code-wrapper .set-code-third .disabled {
  opacity: 0.6;
}

.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.home {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.home .home-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .home-wrapper .home-header {
  width: 100%;
  height: 9%;
  background: #f8dedf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-wrapper .home-header .first-home-header {
  width: 85%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2%;
}

.home .home-wrapper .home-header .first-home-header .burger div {
  width: 17px;
  height: 2px;
  background: #9c1e22;
  margin: 3px;
}

.home .home-wrapper .home-header .first-home-header .burger .line2 {
  width: 13px;
}

.home .home-wrapper .home-header .first-home-header p {
  padding-left: 5%;
  font-size: 300;
  font-family: "Roboto", sans-serif;
}

.home .home-wrapper .home-header .second-home-header {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.02em;
  font-size: 17px;
  color: #b82329;
}

.home .home-wrapper .home-header .second-home-header i {
  font-size: 17px;
}

.home .home-wrapper .home-main {
  width: 100%;
  height: 82%;
  position: relative;
}

.home .home-wrapper .home-main .home-when-empty {
  width: 85%;
  height: auto;
  background: white;
  position: absolute;
  display: block;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 3px 7px rgba(197, 178, 3, 0.603);
          box-shadow: 0px 3px 7px rgba(197, 178, 3, 0.603);
  border-radius: 7px;
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-first {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 10px;
  background: orange;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6em;
  position: relative;
  line-height: 17px;
  font-size: 15px;
  padding-bottom: 10px;
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-first::after {
  content: "";
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  background: orange;
  bottom: -17%;
  left: 10%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-second {
  padding: 10px;
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6em;
  position: relative;
  line-height: 17px;
  font-size: 15px;
  font-size: 14.7px;
  padding-right: 0px;
  padding-bottom: 18px;
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-second i {
  color: orange;
  font-size: 23px;
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-third {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6em;
  position: relative;
  line-height: 17px;
  font-size: 15px;
  font-size: 14.7px;
  padding-right: 0px;
  padding-bottom: 20px;
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-third i {
  color: orange;
  font-size: 23px;
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 15px;
  gap: 0.3em;
  position: relative;
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-fourth::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  bottom: -27%;
  right: 15%;
  background: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-bottom: 1px solid rgba(197, 178, 3, 0.603);
  border-left: 1px solid rgba(197, 178, 3, 0.603);
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-fourth span {
  text-decoration: underline;
}

.home .home-wrapper .home-main .home-when-empty .home-when-empty-fourth i {
  font-size: 23px;
  border-radius: 4px;
}

.home .home-wrapper .home-main .home-add-customer {
  position: fixed;
  bottom: 12%;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2em;
  padding: 7px;
  background: #b82329;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.home .home-wrapper .home-main .home-add-customer i {
  font-size: 20px;
}

.home .home-wrapper .home-footer {
  width: 100%;
  height: 9%;
  background-color: #b82329;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
}

.home .home-wrapper .home-footer div {
  padding-top: 4px;
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-wrapper .home-footer > :nth-child(1) {
  background: #9c1e22;
  border-top-left-radius: 20px;
}

.home .home-wrapper .home-footer > :nth-child(3) {
  border-top-right-radius: 20px;
}

.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.help {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.help .help-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help .help-wrapper .help-header {
  width: 100%;
  height: 9%;
  background: #f8dedf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6em;
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
}

.help .help-wrapper .help-header i {
  font-size: 20px;
}

.help .help-wrapper .help-main {
  width: 100%;
  height: 91%;
  overflow-y: scroll;
}

.help .help-wrapper .help-main .help-inner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow-x: hidden;
}

.help .help-wrapper .help-main .help-inner-main .help-video {
  width: 90%;
  height: 180px;
  overflow: hidden;
  background: #f8dedf8c;
  border-radius: 7px;
  position: relative;
}

.help .help-wrapper .help-main .help-inner-main .help-video a {
  text-decoration: none;
}

.help .help-wrapper .help-main .help-inner-main .help-video a .help-video-txt {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  color: #bf1313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help .help-wrapper .help-main .help-inner-main .help-video a .help-video-txt h4 {
  font-size: 15px;
}

.help .help-wrapper .help-main .help-inner-main .help-video a .help-video-txt p {
  font-size: 12px;
}

.help .help-wrapper .help-main .help-inner-main .help-video a .help-video-txt .help-video-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
  z-index: 1;
}

.help .help-wrapper .help-main .help-inner-main .help-video a .help-video-txt .help-video-icon img {
  width: 45%;
  height: 45%;
  position: relative;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  left: 0%;
  opacity: 1;
}

.help .help-wrapper .help-main .help-inner-main .help-video a img {
  width: 80%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -33px);
          transform: translate(-50%, -33px);
  left: 50%;
  opacity: 0.7;
}

.help .help-wrapper .help-main .help-inner-main .live-help {
  width: 90%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #f4f3f3;
  border-radius: 7px;
}

.help .help-wrapper .help-main .help-inner-main .live-help .live-help-txt {
  width: 50%;
  height: 100%;
  padding: 10px;
  padding-left: 15px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.help .help-wrapper .help-main .help-inner-main .live-help .live-help-txt .live-txt {
  font-size: 14px;
  line-height: 19px;
}

.help .help-wrapper .help-main .help-inner-main .live-help .live-help-txt button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 14px;
  gap: 0.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  border: none;
  background: #076ece;
  padding: 4px 7px 4px 7px;
  color: white;
  border-radius: 4px;
}

.help .help-wrapper .help-main .help-inner-main .live-help .live-help-txt button img {
  width: 15px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.help .help-wrapper .help-main .help-inner-main .live-help .live-help-img-wrapper {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.help .help-wrapper .help-main .help-inner-main .live-help .live-help-img-wrapper img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.help .help-wrapper .help-main .help-inner-main .help-description {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6em;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-description-heading h4 {
  color: #a5a5a5;
  font-size: 15px;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-question-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2px;
  border-bottom: 1px solid silver;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-question-wrapper .help-question-heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-question-wrapper .help-question-answer {
  display: none;
  padding-bottom: 10px;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-question-wrapper .help-question-answer p {
  line-height: 23px;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-question-wrapper .help-question-answer ul {
  list-style: none;
  padding-left: 20px;
  padding-top: 15px;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-question-wrapper .help-question-answer ul li {
  line-height: 23px;
}

.help .help-wrapper .help-main .help-inner-main .help-description .help-question-wrapper .help-question-answer ul li::before {
  content: "\2022";
  color: #9c1e22;
  font-weight: bold;
  display: inline-block;
  width: 0.7em;
  margin-left: -1em;
}

.help .help-wrapper .help-main .help-inner-main .help-description .active .help-question-heading {
  color: #9c1e22;
}

.help .help-wrapper .help-main .help-inner-main .help-description .active .help-question-answer {
  display: block;
  -webkit-animation: fadeIn 0.4s ease 1;
          animation: fadeIn 0.4s ease 1;
}

.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Hind Siliguri", sans-serif;
}
/*# sourceMappingURL=style.css.map */